<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cooler.semantic.dao.LogDataCalculationMapper" >
  <resultMap id="BaseResultMap" type="com.cooler.semantic.entity.LogDataCalculation" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="date_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="account_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="context_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="process_trace" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="detail_context_owner" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cpm_json_data" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
      <arg column="lpm_json_data" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
      <arg column="fpm_json_data" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>

  <sql id="Base_Column_List" >
    id, date_time, account_id, user_id, context_id, process_trace, detail_context_owner, cpm_json_data, lpm_json_data, fpm_json_data
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from log_data_calculation
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from log_data_calculation
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.cooler.semantic.entity.LogDataCalculation" >
    insert into log_data_calculation (id, date_time, account_id, 
      user_id, context_id, process_trace, 
      detail_context_owner, cpm_json_data, lpm_json_data, 
      fpm_json_data)
    values (#{id,jdbcType=INTEGER}, #{dateTime,jdbcType=TIMESTAMP}, #{accountId,jdbcType=INTEGER},
      #{userId,jdbcType=INTEGER}, #{contextId,jdbcType=INTEGER}, #{processTrace,jdbcType=VARCHAR}, 
      #{detailContextOwner,jdbcType=VARCHAR}, #{cpmJsonData,jdbcType=LONGVARCHAR}, #{lpmJsonData,jdbcType=LONGVARCHAR}, 
      #{fpmJsonData,jdbcType=LONGVARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.cooler.semantic.entity.LogDataCalculation" >
    insert into log_data_calculation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dateTime != null" >
        date_time,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="contextId != null" >
        context_id,
      </if>
      <if test="processTrace != null" >
        process_trace,
      </if>
      <if test="detailContextOwner != null" >
        detail_context_owner,
      </if>
      <if test="cpmJsonData != null" >
        cpm_json_data,
      </if>
      <if test="lpmJsonData != null" >
        lpm_json_data,
      </if>
      <if test="fpmJsonData != null" >
        fpm_json_data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dateTime != null" >
        #{dateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="contextId != null" >
        #{contextId,jdbcType=INTEGER},
      </if>
      <if test="processTrace != null" >
        #{processTrace,jdbcType=VARCHAR},
      </if>
      <if test="detailContextOwner != null" >
        #{detailContextOwner,jdbcType=VARCHAR},
      </if>
      <if test="cpmJsonData != null" >
        #{cpmJsonData,jdbcType=LONGVARCHAR},
      </if>
      <if test="lpmJsonData != null" >
        #{lpmJsonData,jdbcType=LONGVARCHAR},
      </if>
      <if test="fpmJsonData != null" >
        #{fpmJsonData,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.cooler.semantic.entity.LogDataCalculation" >
    update log_data_calculation
    <set >
      <if test="dateTime != null" >
        date_time = #{dateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="contextId != null" >
        context_id = #{contextId,jdbcType=INTEGER},
      </if>
      <if test="processTrace != null" >
        process_trace = #{processTrace,jdbcType=VARCHAR},
      </if>
      <if test="detailContextOwner != null" >
        detail_context_owner = #{detailContextOwner,jdbcType=VARCHAR},
      </if>
      <if test="cpmJsonData != null" >
        cpm_json_data = #{cpmJsonData,jdbcType=LONGVARCHAR},
      </if>
      <if test="lpmJsonData != null" >
        lpm_json_data = #{lpmJsonData,jdbcType=LONGVARCHAR},
      </if>
      <if test="fpmJsonData != null" >
        fpm_json_data = #{fpmJsonData,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.cooler.semantic.entity.LogDataCalculation" >
    update log_data_calculation
    set date_time = #{dateTime,jdbcType=TIMESTAMP},
      account_id = #{accountId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      context_id = #{contextId,jdbcType=INTEGER},
      process_trace = #{processTrace,jdbcType=VARCHAR},
      detail_context_owner = #{detailContextOwner,jdbcType=VARCHAR},
      cpm_json_data = #{cpmJsonData,jdbcType=LONGVARCHAR},
      lpm_json_data = #{lpmJsonData,jdbcType=LONGVARCHAR},
      fpm_json_data = #{fpmJsonData,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>