<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cooler.semantic.dao.LogDataProcessMapper">
  <resultMap id="BaseResultMap" type="com.cooler.semantic.entity.LogDataProcess">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="date_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="account_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="context_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="process_trace" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="detail_context_owner" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sentence" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sentence_modified" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="response_msg" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="state" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="score" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="response_type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="response_timestamp" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="configure_params" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sv_ids" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sv_words" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sv_weights" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="lpm_rule_score" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="lpm_matched_rew" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="lpm_matched_rre" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="lpm_lacked_rre" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cpm_rule_score" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cpm_matched_rew" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cpm_matched_rre" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cpm_lacked_rre" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="fpm_rule_score" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="fpm_matched_rew" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="fpm_matched_rre" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="fpm_lacked_rre" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="select_result" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, date_time, account_id, user_id, context_id, process_trace, detail_context_owner, 
    sentence, sentence_modified, response_msg, state, score, response_type, response_timestamp, 
    configure_params, sv_ids, sv_words, sv_weights, lpm_rule_score, lpm_matched_rew, 
    lpm_matched_rre, lpm_lacked_rre, cpm_rule_score, cpm_matched_rew, cpm_matched_rre, 
    cpm_lacked_rre, fpm_rule_score, fpm_matched_rew, fpm_matched_rre, fpm_lacked_rre, 
    select_result
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from log_data_process
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from log_data_process
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cooler.semantic.entity.LogDataProcess">
    insert into log_data_process (id, date_time, account_id, 
      user_id, context_id, process_trace, 
      detail_context_owner, sentence, sentence_modified, 
      response_msg, state, score, 
      response_type, response_timestamp, configure_params, 
      sv_ids, sv_words, sv_weights, 
      lpm_rule_score, lpm_matched_rew, lpm_matched_rre, 
      lpm_lacked_rre, cpm_rule_score, cpm_matched_rew, 
      cpm_matched_rre, cpm_lacked_rre, fpm_rule_score, 
      fpm_matched_rew, fpm_matched_rre, fpm_lacked_rre, 
      select_result)
    values (#{id,jdbcType=INTEGER}, #{dateTime,jdbcType=TIMESTAMP}, #{accountId,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{contextId,jdbcType=INTEGER}, #{processTrace,jdbcType=VARCHAR}, 
      #{detailContextOwner,jdbcType=VARCHAR}, #{sentence,jdbcType=VARCHAR}, #{sentenceModified,jdbcType=VARCHAR}, 
      #{responseMsg,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{score,jdbcType=DOUBLE}, 
      #{responseType,jdbcType=INTEGER}, #{responseTimestamp,jdbcType=VARCHAR}, #{configureParams,jdbcType=VARCHAR}, 
      #{svIds,jdbcType=VARCHAR}, #{svWords,jdbcType=VARCHAR}, #{svWeights,jdbcType=VARCHAR}, 
      #{lpmRuleScore,jdbcType=VARCHAR}, #{lpmMatchedRew,jdbcType=VARCHAR}, #{lpmMatchedRre,jdbcType=VARCHAR}, 
      #{lpmLackedRre,jdbcType=VARCHAR}, #{cpmRuleScore,jdbcType=VARCHAR}, #{cpmMatchedRew,jdbcType=VARCHAR}, 
      #{cpmMatchedRre,jdbcType=VARCHAR}, #{cpmLackedRre,jdbcType=VARCHAR}, #{fpmRuleScore,jdbcType=VARCHAR}, 
      #{fpmMatchedRew,jdbcType=VARCHAR}, #{fpmMatchedRre,jdbcType=VARCHAR}, #{fpmLackedRre,jdbcType=VARCHAR}, 
      #{selectResult,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cooler.semantic.entity.LogDataProcess">
    insert into log_data_process
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dateTime != null">
        date_time,
      </if>
      <if test="accountId != null">
        account_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="contextId != null">
        context_id,
      </if>
      <if test="processTrace != null">
        process_trace,
      </if>
      <if test="detailContextOwner != null">
        detail_context_owner,
      </if>
      <if test="sentence != null">
        sentence,
      </if>
      <if test="sentenceModified != null">
        sentence_modified,
      </if>
      <if test="responseMsg != null">
        response_msg,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="responseType != null">
        response_type,
      </if>
      <if test="responseTimestamp != null">
        response_timestamp,
      </if>
      <if test="configureParams != null">
        configure_params,
      </if>
      <if test="svIds != null">
        sv_ids,
      </if>
      <if test="svWords != null">
        sv_words,
      </if>
      <if test="svWeights != null">
        sv_weights,
      </if>
      <if test="lpmRuleScore != null">
        lpm_rule_score,
      </if>
      <if test="lpmMatchedRew != null">
        lpm_matched_rew,
      </if>
      <if test="lpmMatchedRre != null">
        lpm_matched_rre,
      </if>
      <if test="lpmLackedRre != null">
        lpm_lacked_rre,
      </if>
      <if test="cpmRuleScore != null">
        cpm_rule_score,
      </if>
      <if test="cpmMatchedRew != null">
        cpm_matched_rew,
      </if>
      <if test="cpmMatchedRre != null">
        cpm_matched_rre,
      </if>
      <if test="cpmLackedRre != null">
        cpm_lacked_rre,
      </if>
      <if test="fpmRuleScore != null">
        fpm_rule_score,
      </if>
      <if test="fpmMatchedRew != null">
        fpm_matched_rew,
      </if>
      <if test="fpmMatchedRre != null">
        fpm_matched_rre,
      </if>
      <if test="fpmLackedRre != null">
        fpm_lacked_rre,
      </if>
      <if test="selectResult != null">
        select_result,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dateTime != null">
        #{dateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="contextId != null">
        #{contextId,jdbcType=INTEGER},
      </if>
      <if test="processTrace != null">
        #{processTrace,jdbcType=VARCHAR},
      </if>
      <if test="detailContextOwner != null">
        #{detailContextOwner,jdbcType=VARCHAR},
      </if>
      <if test="sentence != null">
        #{sentence,jdbcType=VARCHAR},
      </if>
      <if test="sentenceModified != null">
        #{sentenceModified,jdbcType=VARCHAR},
      </if>
      <if test="responseMsg != null">
        #{responseMsg,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=DOUBLE},
      </if>
      <if test="responseType != null">
        #{responseType,jdbcType=INTEGER},
      </if>
      <if test="responseTimestamp != null">
        #{responseTimestamp,jdbcType=VARCHAR},
      </if>
      <if test="configureParams != null">
        #{configureParams,jdbcType=VARCHAR},
      </if>
      <if test="svIds != null">
        #{svIds,jdbcType=VARCHAR},
      </if>
      <if test="svWords != null">
        #{svWords,jdbcType=VARCHAR},
      </if>
      <if test="svWeights != null">
        #{svWeights,jdbcType=VARCHAR},
      </if>
      <if test="lpmRuleScore != null">
        #{lpmRuleScore,jdbcType=VARCHAR},
      </if>
      <if test="lpmMatchedRew != null">
        #{lpmMatchedRew,jdbcType=VARCHAR},
      </if>
      <if test="lpmMatchedRre != null">
        #{lpmMatchedRre,jdbcType=VARCHAR},
      </if>
      <if test="lpmLackedRre != null">
        #{lpmLackedRre,jdbcType=VARCHAR},
      </if>
      <if test="cpmRuleScore != null">
        #{cpmRuleScore,jdbcType=VARCHAR},
      </if>
      <if test="cpmMatchedRew != null">
        #{cpmMatchedRew,jdbcType=VARCHAR},
      </if>
      <if test="cpmMatchedRre != null">
        #{cpmMatchedRre,jdbcType=VARCHAR},
      </if>
      <if test="cpmLackedRre != null">
        #{cpmLackedRre,jdbcType=VARCHAR},
      </if>
      <if test="fpmRuleScore != null">
        #{fpmRuleScore,jdbcType=VARCHAR},
      </if>
      <if test="fpmMatchedRew != null">
        #{fpmMatchedRew,jdbcType=VARCHAR},
      </if>
      <if test="fpmMatchedRre != null">
        #{fpmMatchedRre,jdbcType=VARCHAR},
      </if>
      <if test="fpmLackedRre != null">
        #{fpmLackedRre,jdbcType=VARCHAR},
      </if>
      <if test="selectResult != null">
        #{selectResult,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cooler.semantic.entity.LogDataProcess">
    update log_data_process
    <set>
      <if test="dateTime != null">
        date_time = #{dateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="accountId != null">
        account_id = #{accountId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="contextId != null">
        context_id = #{contextId,jdbcType=INTEGER},
      </if>
      <if test="processTrace != null">
        process_trace = #{processTrace,jdbcType=VARCHAR},
      </if>
      <if test="detailContextOwner != null">
        detail_context_owner = #{detailContextOwner,jdbcType=VARCHAR},
      </if>
      <if test="sentence != null">
        sentence = #{sentence,jdbcType=VARCHAR},
      </if>
      <if test="sentenceModified != null">
        sentence_modified = #{sentenceModified,jdbcType=VARCHAR},
      </if>
      <if test="responseMsg != null">
        response_msg = #{responseMsg,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=DOUBLE},
      </if>
      <if test="responseType != null">
        response_type = #{responseType,jdbcType=INTEGER},
      </if>
      <if test="responseTimestamp != null">
        response_timestamp = #{responseTimestamp,jdbcType=VARCHAR},
      </if>
      <if test="configureParams != null">
        configure_params = #{configureParams,jdbcType=VARCHAR},
      </if>
      <if test="svIds != null">
        sv_ids = #{svIds,jdbcType=VARCHAR},
      </if>
      <if test="svWords != null">
        sv_words = #{svWords,jdbcType=VARCHAR},
      </if>
      <if test="svWeights != null">
        sv_weights = #{svWeights,jdbcType=VARCHAR},
      </if>
      <if test="lpmRuleScore != null">
        lpm_rule_score = #{lpmRuleScore,jdbcType=VARCHAR},
      </if>
      <if test="lpmMatchedRew != null">
        lpm_matched_rew = #{lpmMatchedRew,jdbcType=VARCHAR},
      </if>
      <if test="lpmMatchedRre != null">
        lpm_matched_rre = #{lpmMatchedRre,jdbcType=VARCHAR},
      </if>
      <if test="lpmLackedRre != null">
        lpm_lacked_rre = #{lpmLackedRre,jdbcType=VARCHAR},
      </if>
      <if test="cpmRuleScore != null">
        cpm_rule_score = #{cpmRuleScore,jdbcType=VARCHAR},
      </if>
      <if test="cpmMatchedRew != null">
        cpm_matched_rew = #{cpmMatchedRew,jdbcType=VARCHAR},
      </if>
      <if test="cpmMatchedRre != null">
        cpm_matched_rre = #{cpmMatchedRre,jdbcType=VARCHAR},
      </if>
      <if test="cpmLackedRre != null">
        cpm_lacked_rre = #{cpmLackedRre,jdbcType=VARCHAR},
      </if>
      <if test="fpmRuleScore != null">
        fpm_rule_score = #{fpmRuleScore,jdbcType=VARCHAR},
      </if>
      <if test="fpmMatchedRew != null">
        fpm_matched_rew = #{fpmMatchedRew,jdbcType=VARCHAR},
      </if>
      <if test="fpmMatchedRre != null">
        fpm_matched_rre = #{fpmMatchedRre,jdbcType=VARCHAR},
      </if>
      <if test="fpmLackedRre != null">
        fpm_lacked_rre = #{fpmLackedRre,jdbcType=VARCHAR},
      </if>
      <if test="selectResult != null">
        select_result = #{selectResult,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cooler.semantic.entity.LogDataProcess">
    update log_data_process
    set date_time = #{dateTime,jdbcType=TIMESTAMP},
      account_id = #{accountId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      context_id = #{contextId,jdbcType=INTEGER},
      process_trace = #{processTrace,jdbcType=VARCHAR},
      detail_context_owner = #{detailContextOwner,jdbcType=VARCHAR},
      sentence = #{sentence,jdbcType=VARCHAR},
      sentence_modified = #{sentenceModified,jdbcType=VARCHAR},
      response_msg = #{responseMsg,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      score = #{score,jdbcType=DOUBLE},
      response_type = #{responseType,jdbcType=INTEGER},
      response_timestamp = #{responseTimestamp,jdbcType=VARCHAR},
      configure_params = #{configureParams,jdbcType=VARCHAR},
      sv_ids = #{svIds,jdbcType=VARCHAR},
      sv_words = #{svWords,jdbcType=VARCHAR},
      sv_weights = #{svWeights,jdbcType=VARCHAR},
      lpm_rule_score = #{lpmRuleScore,jdbcType=VARCHAR},
      lpm_matched_rew = #{lpmMatchedRew,jdbcType=VARCHAR},
      lpm_matched_rre = #{lpmMatchedRre,jdbcType=VARCHAR},
      lpm_lacked_rre = #{lpmLackedRre,jdbcType=VARCHAR},
      cpm_rule_score = #{cpmRuleScore,jdbcType=VARCHAR},
      cpm_matched_rew = #{cpmMatchedRew,jdbcType=VARCHAR},
      cpm_matched_rre = #{cpmMatchedRre,jdbcType=VARCHAR},
      cpm_lacked_rre = #{cpmLackedRre,jdbcType=VARCHAR},
      fpm_rule_score = #{fpmRuleScore,jdbcType=VARCHAR},
      fpm_matched_rew = #{fpmMatchedRew,jdbcType=VARCHAR},
      fpm_matched_rre = #{fpmMatchedRre,jdbcType=VARCHAR},
      fpm_lacked_rre = #{fpmLackedRre,jdbcType=VARCHAR},
      select_result = #{selectResult,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.cooler.semantic.entity.LogDataProcess">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="process_trace" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="owner_index" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="detail_context_owner" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sentence" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sentence_modified" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="response_msg" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="state" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="score" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="response_type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="response_timestamp" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="configure_params" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sv_ids" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sv_words" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sv_weights" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="lpm_rew_entitys" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="lpm_rew_words" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="lpm_rew_weights" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cpm_rew_entitys" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cpm_rew_words" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cpm_rew_weights" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="fpm_rew_entitys" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="fpm_rew_words" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="fpm_rew_weights" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="optimal_rew_entitys" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="optimal_rew_words" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="optimal_rew_weights" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, process_trace, owner_index, detail_context_owner, sentence, sentence_modified, 
    response_msg, state, score, response_type, response_timestamp, configure_params, 
    sv_ids, sv_words, sv_weights, lpm_rew_entitys, lpm_rew_words, lpm_rew_weights, cpm_rew_entitys, 
    cpm_rew_words, cpm_rew_weights, fpm_rew_entitys, fpm_rew_words, fpm_rew_weights, 
    optimal_rew_entitys, optimal_rew_words, optimal_rew_weights
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from log_data_process
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from log_data_process
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cooler.semantic.entity.LogDataProcess">
    insert into log_data_process (id, process_trace, owner_index, 
      detail_context_owner, sentence, sentence_modified, 
      response_msg, state, score, 
      response_type, response_timestamp, configure_params, 
      sv_ids, sv_words, sv_weights, 
      lpm_rew_entitys, lpm_rew_words, lpm_rew_weights, 
      cpm_rew_entitys, cpm_rew_words, cpm_rew_weights, 
      fpm_rew_entitys, fpm_rew_words, fpm_rew_weights, 
      optimal_rew_entitys, optimal_rew_words, optimal_rew_weights
      )
    values (#{id,jdbcType=INTEGER}, #{processTrace,jdbcType=VARCHAR}, #{ownerIndex,jdbcType=VARCHAR}, 
      #{detailContextOwner,jdbcType=VARCHAR}, #{sentence,jdbcType=VARCHAR}, #{sentenceModified,jdbcType=VARCHAR}, 
      #{responseMsg,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{score,jdbcType=DOUBLE}, 
      #{responseType,jdbcType=INTEGER}, #{responseTimestamp,jdbcType=VARCHAR}, #{configureParams,jdbcType=VARCHAR}, 
      #{svIds,jdbcType=VARCHAR}, #{svWords,jdbcType=VARCHAR}, #{svWeights,jdbcType=VARCHAR}, 
      #{lpmRewEntitys,jdbcType=VARCHAR}, #{lpmRewWords,jdbcType=VARCHAR}, #{lpmRewWeights,jdbcType=VARCHAR}, 
      #{cpmRewEntitys,jdbcType=VARCHAR}, #{cpmRewWords,jdbcType=VARCHAR}, #{cpmRewWeights,jdbcType=VARCHAR}, 
      #{fpmRewEntitys,jdbcType=VARCHAR}, #{fpmRewWords,jdbcType=VARCHAR}, #{fpmRewWeights,jdbcType=VARCHAR}, 
      #{optimalRewEntitys,jdbcType=VARCHAR}, #{optimalRewWords,jdbcType=VARCHAR}, #{optimalRewWeights,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cooler.semantic.entity.LogDataProcess">
    insert into log_data_process
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="processTrace != null">
        process_trace,
      </if>
      <if test="ownerIndex != null">
        owner_index,
      </if>
      <if test="detailContextOwner != null">
        detail_context_owner,
      </if>
      <if test="sentence != null">
        sentence,
      </if>
      <if test="sentenceModified != null">
        sentence_modified,
      </if>
      <if test="responseMsg != null">
        response_msg,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="responseType != null">
        response_type,
      </if>
      <if test="responseTimestamp != null">
        response_timestamp,
      </if>
      <if test="configureParams != null">
        configure_params,
      </if>
      <if test="svIds != null">
        sv_ids,
      </if>
      <if test="svWords != null">
        sv_words,
      </if>
      <if test="svWeights != null">
        sv_weights,
      </if>
      <if test="lpmRewEntitys != null">
        lpm_rew_entitys,
      </if>
      <if test="lpmRewWords != null">
        lpm_rew_words,
      </if>
      <if test="lpmRewWeights != null">
        lpm_rew_weights,
      </if>
      <if test="cpmRewEntitys != null">
        cpm_rew_entitys,
      </if>
      <if test="cpmRewWords != null">
        cpm_rew_words,
      </if>
      <if test="cpmRewWeights != null">
        cpm_rew_weights,
      </if>
      <if test="fpmRewEntitys != null">
        fpm_rew_entitys,
      </if>
      <if test="fpmRewWords != null">
        fpm_rew_words,
      </if>
      <if test="fpmRewWeights != null">
        fpm_rew_weights,
      </if>
      <if test="optimalRewEntitys != null">
        optimal_rew_entitys,
      </if>
      <if test="optimalRewWords != null">
        optimal_rew_words,
      </if>
      <if test="optimalRewWeights != null">
        optimal_rew_weights,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="processTrace != null">
        #{processTrace,jdbcType=VARCHAR},
      </if>
      <if test="ownerIndex != null">
        #{ownerIndex,jdbcType=VARCHAR},
      </if>
      <if test="detailContextOwner != null">
        #{detailContextOwner,jdbcType=VARCHAR},
      </if>
      <if test="sentence != null">
        #{sentence,jdbcType=VARCHAR},
      </if>
      <if test="sentenceModified != null">
        #{sentenceModified,jdbcType=VARCHAR},
      </if>
      <if test="responseMsg != null">
        #{responseMsg,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=DOUBLE},
      </if>
      <if test="responseType != null">
        #{responseType,jdbcType=INTEGER},
      </if>
      <if test="responseTimestamp != null">
        #{responseTimestamp,jdbcType=VARCHAR},
      </if>
      <if test="configureParams != null">
        #{configureParams,jdbcType=VARCHAR},
      </if>
      <if test="svIds != null">
        #{svIds,jdbcType=VARCHAR},
      </if>
      <if test="svWords != null">
        #{svWords,jdbcType=VARCHAR},
      </if>
      <if test="svWeights != null">
        #{svWeights,jdbcType=VARCHAR},
      </if>
      <if test="lpmRewEntitys != null">
        #{lpmRewEntitys,jdbcType=VARCHAR},
      </if>
      <if test="lpmRewWords != null">
        #{lpmRewWords,jdbcType=VARCHAR},
      </if>
      <if test="lpmRewWeights != null">
        #{lpmRewWeights,jdbcType=VARCHAR},
      </if>
      <if test="cpmRewEntitys != null">
        #{cpmRewEntitys,jdbcType=VARCHAR},
      </if>
      <if test="cpmRewWords != null">
        #{cpmRewWords,jdbcType=VARCHAR},
      </if>
      <if test="cpmRewWeights != null">
        #{cpmRewWeights,jdbcType=VARCHAR},
      </if>
      <if test="fpmRewEntitys != null">
        #{fpmRewEntitys,jdbcType=VARCHAR},
      </if>
      <if test="fpmRewWords != null">
        #{fpmRewWords,jdbcType=VARCHAR},
      </if>
      <if test="fpmRewWeights != null">
        #{fpmRewWeights,jdbcType=VARCHAR},
      </if>
      <if test="optimalRewEntitys != null">
        #{optimalRewEntitys,jdbcType=VARCHAR},
      </if>
      <if test="optimalRewWords != null">
        #{optimalRewWords,jdbcType=VARCHAR},
      </if>
      <if test="optimalRewWeights != null">
        #{optimalRewWeights,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cooler.semantic.entity.LogDataProcess">
    update log_data_process
    <set>
      <if test="processTrace != null">
        process_trace = #{processTrace,jdbcType=VARCHAR},
      </if>
      <if test="ownerIndex != null">
        owner_index = #{ownerIndex,jdbcType=VARCHAR},
      </if>
      <if test="detailContextOwner != null">
        detail_context_owner = #{detailContextOwner,jdbcType=VARCHAR},
      </if>
      <if test="sentence != null">
        sentence = #{sentence,jdbcType=VARCHAR},
      </if>
      <if test="sentenceModified != null">
        sentence_modified = #{sentenceModified,jdbcType=VARCHAR},
      </if>
      <if test="responseMsg != null">
        response_msg = #{responseMsg,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=DOUBLE},
      </if>
      <if test="responseType != null">
        response_type = #{responseType,jdbcType=INTEGER},
      </if>
      <if test="responseTimestamp != null">
        response_timestamp = #{responseTimestamp,jdbcType=VARCHAR},
      </if>
      <if test="configureParams != null">
        configure_params = #{configureParams,jdbcType=VARCHAR},
      </if>
      <if test="svIds != null">
        sv_ids = #{svIds,jdbcType=VARCHAR},
      </if>
      <if test="svWords != null">
        sv_words = #{svWords,jdbcType=VARCHAR},
      </if>
      <if test="svWeights != null">
        sv_weights = #{svWeights,jdbcType=VARCHAR},
      </if>
      <if test="lpmRewEntitys != null">
        lpm_rew_entitys = #{lpmRewEntitys,jdbcType=VARCHAR},
      </if>
      <if test="lpmRewWords != null">
        lpm_rew_words = #{lpmRewWords,jdbcType=VARCHAR},
      </if>
      <if test="lpmRewWeights != null">
        lpm_rew_weights = #{lpmRewWeights,jdbcType=VARCHAR},
      </if>
      <if test="cpmRewEntitys != null">
        cpm_rew_entitys = #{cpmRewEntitys,jdbcType=VARCHAR},
      </if>
      <if test="cpmRewWords != null">
        cpm_rew_words = #{cpmRewWords,jdbcType=VARCHAR},
      </if>
      <if test="cpmRewWeights != null">
        cpm_rew_weights = #{cpmRewWeights,jdbcType=VARCHAR},
      </if>
      <if test="fpmRewEntitys != null">
        fpm_rew_entitys = #{fpmRewEntitys,jdbcType=VARCHAR},
      </if>
      <if test="fpmRewWords != null">
        fpm_rew_words = #{fpmRewWords,jdbcType=VARCHAR},
      </if>
      <if test="fpmRewWeights != null">
        fpm_rew_weights = #{fpmRewWeights,jdbcType=VARCHAR},
      </if>
      <if test="optimalRewEntitys != null">
        optimal_rew_entitys = #{optimalRewEntitys,jdbcType=VARCHAR},
      </if>
      <if test="optimalRewWords != null">
        optimal_rew_words = #{optimalRewWords,jdbcType=VARCHAR},
      </if>
      <if test="optimalRewWeights != null">
        optimal_rew_weights = #{optimalRewWeights,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cooler.semantic.entity.LogDataProcess">
    update log_data_process
    set process_trace = #{processTrace,jdbcType=VARCHAR},
      owner_index = #{ownerIndex,jdbcType=VARCHAR},
      detail_context_owner = #{detailContextOwner,jdbcType=VARCHAR},
      sentence = #{sentence,jdbcType=VARCHAR},
      sentence_modified = #{sentenceModified,jdbcType=VARCHAR},
      response_msg = #{responseMsg,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      score = #{score,jdbcType=DOUBLE},
      response_type = #{responseType,jdbcType=INTEGER},
      response_timestamp = #{responseTimestamp,jdbcType=VARCHAR},
      configure_params = #{configureParams,jdbcType=VARCHAR},
      sv_ids = #{svIds,jdbcType=VARCHAR},
      sv_words = #{svWords,jdbcType=VARCHAR},
      sv_weights = #{svWeights,jdbcType=VARCHAR},
      lpm_rew_entitys = #{lpmRewEntitys,jdbcType=VARCHAR},
      lpm_rew_words = #{lpmRewWords,jdbcType=VARCHAR},
      lpm_rew_weights = #{lpmRewWeights,jdbcType=VARCHAR},
      cpm_rew_entitys = #{cpmRewEntitys,jdbcType=VARCHAR},
      cpm_rew_words = #{cpmRewWords,jdbcType=VARCHAR},
      cpm_rew_weights = #{cpmRewWeights,jdbcType=VARCHAR},
      fpm_rew_entitys = #{fpmRewEntitys,jdbcType=VARCHAR},
      fpm_rew_words = #{fpmRewWords,jdbcType=VARCHAR},
      fpm_rew_weights = #{fpmRewWeights,jdbcType=VARCHAR},
      optimal_rew_entitys = #{optimalRewEntitys,jdbcType=VARCHAR},
      optimal_rew_words = #{optimalRewWords,jdbcType=VARCHAR},
      optimal_rew_weights = #{optimalRewWeights,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>