<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cooler.semantic.dao.RRuleEntityMapper" >

  <resultMap id="BaseResultMap" type="com.cooler.semantic.entity.RRuleEntity" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="rule_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="rule_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="serial_number" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="entity_type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="entity_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="entity_type_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="entity_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="entity_app_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="query_type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="necessary_entity_query" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="natrue" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="volume_rate" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="weight" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="state" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="account_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>

  <sql id="Base_Column_List" >
    id, rule_id, rule_name, serial_number, entity_type, entity_id, entity_type_id, entity_name, 
    entity_app_name, query_type, necessary_entity_query, natrue, volume_rate, weight, 
    state, account_id, create_time
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from r_rule_entity
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from r_rule_entity
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.cooler.semantic.entity.RRuleEntity" >
    insert into r_rule_entity (id, rule_id, rule_name, 
      serial_number, entity_type, entity_id, 
      entity_type_id, entity_name, entity_app_name, 
      query_type, necessary_entity_query, natrue, 
      volume_rate, weight, state, 
      account_id, create_time)
    values (#{id,jdbcType=INTEGER}, #{ruleId,jdbcType=INTEGER}, #{ruleName,jdbcType=VARCHAR}, 
      #{serialNumber,jdbcType=INTEGER}, #{entityType,jdbcType=INTEGER}, #{entityId,jdbcType=INTEGER}, 
      #{entityTypeId,jdbcType=VARCHAR}, #{entityName,jdbcType=VARCHAR}, #{entityAppName,jdbcType=VARCHAR}, 
      #{queryType,jdbcType=INTEGER}, #{necessaryEntityQuery,jdbcType=VARCHAR}, #{natrue,jdbcType=VARCHAR}, 
      #{volumeRate,jdbcType=DOUBLE}, #{weight,jdbcType=DOUBLE}, #{state,jdbcType=INTEGER}, 
      #{accountId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertSelective" parameterType="com.cooler.semantic.entity.RRuleEntity" >
    insert into r_rule_entity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ruleId != null" >
        rule_id,
      </if>
      <if test="ruleName != null" >
        rule_name,
      </if>
      <if test="serialNumber != null" >
        serial_number,
      </if>
      <if test="entityType != null" >
        entity_type,
      </if>
      <if test="entityId != null" >
        entity_id,
      </if>
      <if test="entityTypeId != null" >
        entity_type_id,
      </if>
      <if test="entityName != null" >
        entity_name,
      </if>
      <if test="entityAppName != null" >
        entity_app_name,
      </if>
      <if test="queryType != null" >
        query_type,
      </if>
      <if test="necessaryEntityQuery != null" >
        necessary_entity_query,
      </if>
      <if test="natrue != null" >
        natrue,
      </if>
      <if test="volumeRate != null" >
        volume_rate,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ruleId != null" >
        #{ruleId,jdbcType=INTEGER},
      </if>
      <if test="ruleName != null" >
        #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null" >
        #{serialNumber,jdbcType=INTEGER},
      </if>
      <if test="entityType != null" >
        #{entityType,jdbcType=INTEGER},
      </if>
      <if test="entityId != null" >
        #{entityId,jdbcType=INTEGER},
      </if>
      <if test="entityTypeId != null" >
        #{entityTypeId,jdbcType=VARCHAR},
      </if>
      <if test="entityName != null" >
        #{entityName,jdbcType=VARCHAR},
      </if>
      <if test="entityAppName != null" >
        #{entityAppName,jdbcType=VARCHAR},
      </if>
      <if test="queryType != null" >
        #{queryType,jdbcType=INTEGER},
      </if>
      <if test="necessaryEntityQuery != null" >
        #{necessaryEntityQuery,jdbcType=VARCHAR},
      </if>
      <if test="natrue != null" >
        #{natrue,jdbcType=VARCHAR},
      </if>
      <if test="volumeRate != null" >
        #{volumeRate,jdbcType=DOUBLE},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.cooler.semantic.entity.RRuleEntity" >
    update r_rule_entity
    <set >
      <if test="ruleId != null" >
        rule_id = #{ruleId,jdbcType=INTEGER},
      </if>
      <if test="ruleName != null" >
        rule_name = #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null" >
        serial_number = #{serialNumber,jdbcType=INTEGER},
      </if>
      <if test="entityType != null" >
        entity_type = #{entityType,jdbcType=INTEGER},
      </if>
      <if test="entityId != null" >
        entity_id = #{entityId,jdbcType=INTEGER},
      </if>
      <if test="entityTypeId != null" >
        entity_type_id = #{entityTypeId,jdbcType=VARCHAR},
      </if>
      <if test="entityName != null" >
        entity_name = #{entityName,jdbcType=VARCHAR},
      </if>
      <if test="entityAppName != null" >
        entity_app_name = #{entityAppName,jdbcType=VARCHAR},
      </if>
      <if test="queryType != null" >
        query_type = #{queryType,jdbcType=INTEGER},
      </if>
      <if test="necessaryEntityQuery != null" >
        necessary_entity_query = #{necessaryEntityQuery,jdbcType=VARCHAR},
      </if>
      <if test="natrue != null" >
        natrue = #{natrue,jdbcType=VARCHAR},
      </if>
      <if test="volumeRate != null" >
        volume_rate = #{volumeRate,jdbcType=DOUBLE},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.cooler.semantic.entity.RRuleEntity" >
    update r_rule_entity
    set rule_id = #{ruleId,jdbcType=INTEGER},
      rule_name = #{ruleName,jdbcType=VARCHAR},
      serial_number = #{serialNumber,jdbcType=INTEGER},
      entity_type = #{entityType,jdbcType=INTEGER},
      entity_id = #{entityId,jdbcType=INTEGER},
      entity_type_id = #{entityTypeId,jdbcType=VARCHAR},
      entity_name = #{entityName,jdbcType=VARCHAR},
      entity_app_name = #{entityAppName,jdbcType=VARCHAR},
      query_type = #{queryType,jdbcType=INTEGER},
      necessary_entity_query = #{necessaryEntityQuery,jdbcType=VARCHAR},
      natrue = #{natrue,jdbcType=VARCHAR},
      volume_rate = #{volumeRate,jdbcType=DOUBLE},
      weight = #{weight,jdbcType=DOUBLE},
      state = #{state,jdbcType=INTEGER},
      account_id = #{accountId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 业务相关 -->
  <select id="selectByREntityWordInfos" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from r_rule_entity
    where state = 1 and account_id = #{accountId,jdbcType=INTEGER} and entity_type_id IN
    <foreach collection="rEntityWordInfos" item="rEntityWordInfo" open="(" separator="," close=")">
      #{rEntityWordInfo.entityTypeId,jdbcType=VARCHAR}
    </foreach>
  </select>

  <select id="selectBySVRuleInfos" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from r_rule_entity
    where state = 1 and account_id = #{accountId,jdbcType=INTEGER} and rule_id IN
    <foreach collection="svRuleInfos" item="svRuleInfo" open="(" separator="," close=")">
      #{svRuleInfo.ruleId,jdbcType=INTEGER}
    </foreach>
  </select>

  <select id="selectNecessaryByAIdRId" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from r_rule_entity
    where
    state = 1 and
    account_id = #{accountId,jdbcType=INTEGER} and
    rule_id = #{ruleId,jdbcType=INTEGER} and
    query_type > 0
  </select>

</mapper>